nav {
    font-family: "benton-modern-text", serif;
    font-weight: 700;
    font-style: normal;
    }

h1 {
        font-family: "benton-modern-text", serif;
        font-weight: 700;
        font-style: normal;
}

.bigHuge {
    font-size: 130px;
    }


.wholeAccordion {
    justify-content: center;
}

.accordion {
	--bs-accordion-btn-color: ghostwhite;
	--bs-accordion-btn-bg: gray;
	--bs-accordion-active-color: black;
	--bs-accordion-active-bg: white;
}

h3 {
    font-family: "benton-modern-text", serif;
    font-weight: 700;
    font-style: normal;
}
