nav {
    font-family: "benton-modern-text", serif;
    font-weight: 700;
    font-style: normal;
    }

h1 {
        font-family: "benton-modern-text", serif;
        font-weight: 700;
        font-style: normal;
}

.bigHuge {
    font-size: 130px;
    }

.imgSize {
    size: 100px;
}